/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  /* box-sizing: border-box; */
  scroll-padding-top: 80px;
}

/* NAV BAR */

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #782de0;
  position: fixed;
  width: 100%; 
}

.main-image {
  width: 75px;
  height: 75px;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 10%;
}

.mainbut {
  float: left;
  display: inline-block;
  padding: 20px;
  margin-left: -30px;
  margin-top: 13px;
}

.mainbut:hover {
  color: #f2cf00;
}

header::after {
  content: "";
  display: table;
  clear: both;
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 10%;
}

nav li {
  display: inline-block;
  float: right;
  padding: 20px 20px;
  position: relative;
  margin-top: 13px;

}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: all ease-in-out 100ms;
  margin-bottom: 10px;
}

nav ul a:hover::before {
  width: 67%;
}

/* NAV BAR END */

/* BODY */

.banner {
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
  background-color: #782de0;
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
}

h1 {
  font-size: 55px;
}
h3 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h6 {
  font-size: 22px;
}

.banner h1,
.banner h3,
.banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {
  color: white;
  background-color: #782de0;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  margin-top: 25px;
  margin-left: 42%;
  background-color: yellow;
  background: linear-gradient(180deg, #f2cf00 0, #f2b200 100%);
  box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
  border: none impo !important;
  font-size: 1rem;
  line-height: 1.5;
}

.btn:hover {
  background-color: #f2cf00 !important;
  background-image: none !important;
  transition: 0.9s;
}

/* SECTION 1 - SERVICES */

.pricing-img {
  max-width: 100%;
  width: 55%;
  height: 25%;
  margin-bottom: 15px;
}

.panel {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  max-width: 950px;
  margin: 50px 200px;
  border: 1px solid black;
  top: 0;
  scroll-padding-top: 0;
}

.pricing-plan {
  border-bottom: 1px solid black;
}

.pricing-header {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 25px 25px;
  color: black;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px;
  border-top: 1px solid black;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid black;
}

.pricing-price {
  color: black;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #f2cf00;
  color: white;
}

.pricing-button.is-featured {
  background-color: #ffd900d2;
  color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
  background-color: #f2cf00;
  color: white;
}

@media (min-width: 900px){
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid black;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}

hr {
  padding-bottom: 50px;
}
/* SECTION 1 - END */

/* SECTION 2 - PORTFOLIO */

/* SECTION 2 - END */

/* SECTION 3 - CONTACT */

/* SECTION 3 - END */
